<carousel [isAnimated]="true"> 
    <slide>
        <img src="assets/images/logo1.png" alt="slide" style="display: block; width: 100%;" >
    </slide>
    <slide>
        <img src="assets/images/slide3.jpg" alt="slide" style="display: block; width: 100%;" >
    </slide>
    <slide>
        <img src="assets/images/slide4.1.jpg" alt="slide" style="display: block; width: 100%;" >
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Dobro došli!</h1>
    </div>
</section>
