<div class="form-floating mb-3">
    <input 
      type={{type}} 
      [formControl]="control"
      placeholder="{{label}}"
      class="form-control"
      [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
    >
    <div *ngIf="control.status === 'PENDING'" class="fa fa-spinner fa-spin loader"></div>
    <label for="floatingInput">{{label}}</label>
    <div *ngIf="control.errors?.['required']" class="invalid-feedback">Unesite {{label}}</div>
    <div *ngIf="control.errors?.['email']" class="invalid-feedback">Netačna e-mail adresa</div>
    <div *ngIf="control.errors?.['pattern']" class="invalid-feedback">Lozinka nije dovoljno kompleksna</div>
    <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback">Korisnik sa tom email adresom već postoji</div>
  </div>
